.post{
  border-radius: 15px;
  background-color: white;
}
.icon{
    border-radius: 100%;
    object-fit: contain;
    width: 100%;
}
.card-header{
    display: flex;
}
.avatar-data{
  margin-left: 0;
}
