.App {
  background-color: whitesmoke;
  text-align: center;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 2px;
}
::-webkit-scrollbar-track{
  background-color: whitesmoke;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color:grey;
}
::-webkit-input-placeholder{
  color: whitesmoke;
}
:-ms-input-placeholder{
  color: whitesmoke;
}
::placeholder{
  color: whitesmoke;
}
.chatbot{
  position: fixed;
  z-index: 1;
  right: 1%;
  bottom:2%;
}
.dropdown{
  outline-style: none;
}